<footer sticky-bottom>
    <div class="f-info">
    <div class="f-info-socials">
        <i class="fa-brands fa-square-facebook" style="color:blue"></i>
        <i class="fa-brands fa-square-instagram" style="color: rgb(235, 8, 46)"></i>
        <i class="fa-brands fa-linkedin" style="color:rgb(9, 9, 104)"></i>
        <i class="fa-brands fa-square-x-twitter"></i>

    </div>
    <div>&copy; Wanderlust private limited.</div>
    <div class="f-info-links">
        <a href="/privacy" class="link">Privacy</a>
        <a href="terms" class="link">Terms</a>
        <a href="about" class="link">About</a>
    </div>
</div></footer>