<%layout('/layouts/boilerplate.ejs')-%>
<div class="row mt-4" style="height:20rem">
    <div class="col-8 offset-2">
        <div class="alert alert-danger text-center" role="alert">
            <%=err.message%><br>
            
          </div>
    </div>
</div>
